<form name="signup" action="/auth/signIn" method="post">
    username: <input name="username" type="text" id="username" style="color: black;"/><br/>
    password: <input name="password" type="password" id="password" style="color: black;"/><br/>
<input type="submit" class="btn btn-primary btn-lg" value="SIGN UP TODAY">
</form>